In [11]:
import pandas as pd
import seaborn as sns

sns.set_theme(style="whitegrid")

chances = [.8, .45]

In [12]:
df = pd.read_csv('out.csv')
# Splitting df between "advantage" (high chance to win) runs and "fair" (~50% chance to win) runs
grouped_df = df.groupby(df.P_chance)

> Ao final das suas simulações, com base nos logs gerados (vamos denominá-los datasets a partir de agora) você deverá analisar os datasets e responder às seguintes perguntas:  
> * Qual a probabilidade do Jogador A/B vencerem as Partidas 1 e a Partidas 2? Para responder, considere $Xi$ uma VA que representa o número de vitórias do jogador $i$ em cada caso, e que nosso espaço amostral contem 3 partidas. Mostre uma análise estatística baseada em média e desvio padrão em cada caso.  
> * Qual a distribuição do número de sets, games e pontos nas Partidas 1 e 2? Mostre uma análise estatística baseada em média e desvio padrão em cada caso.
> * Selecione aleatoriamente, com distribuição uniforme, 10 simulações dentre as $n$ existentes em seus datasets originais. Refaça as 2 análises anteriores e explique as diferenças e semelhanças entre os resultados obtidos.
---
# Análise para P=0.8  
Temos que bla blabal

In [13]:
df_advantage = grouped_df.get_group(chances[0])
df_advantage.describe()

,tot_pts_P,tot_pts_Q,tot_games_P,tot_games_Q,tot_sets_P,tot_sets_Q,run,P_chance
count,30.000000,30.000000,30.0,30.000000,30.0,30.0,30.000000,3.000000e+01
mean,4.266667,1.200000,18.0,0.300000,2.0,0.0,15.500000,8.000000e-01
std,0.520830,1.297212,0.0,0.651259,0.0,0.0,8.803408,2.258405e-16
min,4.000000,0.000000,18.0,0.000000,2.0,0.0,1.000000,8.000000e-01
25%,4.000000,0.000000,18.0,0.000000,2.0,0.0,8.250000,8.000000e-01
50%,4.000000,1.000000,18.0,0.000000,2.0,0.0,15.500000,8.000000e-01
75%,4.000000,2.000000,18.0,0.000000,2.0,0.0,22.750000,8.000000e-01
max,6.000000,4.000000,18.0,2.000000,2.0,0.0,30.000000,8.000000e-01

In [14]:
df_ = grouped_df.get_group(chances[1])
df_advantage.describe()

,tot_pts_P,tot_pts_Q,tot_games_P,tot_games_Q,tot_sets_P,tot_sets_Q,run,P_chance
count,30.000000,30.000000,30.0,30.000000,30.0,30.0,30.000000,3.000000e+01
mean,4.266667,1.200000,18.0,0.300000,2.0,0.0,15.500000,8.000000e-01
std,0.520830,1.297212,0.0,0.651259,0.0,0.0,8.803408,2.258405e-16
min,4.000000,0.000000,18.0,0.000000,2.0,0.0,1.000000,8.000000e-01
25%,4.000000,0.000000,18.0,0.000000,2.0,0.0,8.250000,8.000000e-01
50%,4.000000,1.000000,18.0,0.000000,2.0,0.0,15.500000,8.000000e-01
75%,4.000000,2.000000,18.0,0.000000,2.0,0.0,22.750000,8.000000e-01
max,6.000000,4.000000,18.0,2.000000,2.0,0.0,30.000000,8.000000e-01